{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <section class="h-100 gradient-custom-2" id="create_post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        {% for post in posts %}
                            <div class="row g-2 border border-primary rounded d-flex"
                                 style="margin: 25px;position: relative;">
                                <div class="col" style="">
                                    <div class="row d-flex justify-content-between"
                                         style="padding: 10px 10px 1px 10px">
                                        <div class="username" style="color: blue">
                                            <img class="img-thumbnail"
                                                 src="{% static 'network/media/pngitem_1468479.png' %} "
                                                 style="width: 45px;height: 45px;border-radius: 90%" alt="profile img">
                                            <a style="align-items: center" href="{% url 'profile_view' post.profile.user.id %}">{{ post.profile }}</a></div>

                                    </div>
                                    <hr/>
                                    {# ----------------------post body---------------- #}
                                    <div class="row d-flex text-muted"
                                         style="padding: 1px 10px 1px 20px;font-style: italic;font-size:9pt ">{{ post.date }}</div>
                                    <hr/>
                                    {#----------------------------------------------the post#}
                                    <p class="row d-flex text-justify post_place{{ post.id }}"
                                       style="text-align: start; padding: 10px;margin-bottom: 20px;word-wrap: break-word;overflow-wrap: break-word;"
                                       id="post{{ post.id }}">{{ post.post }}</p>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}