{% extends 'network/layout.html' %}
{% load static %}
{% block extra_links %}
    <link href="{% static 'network/css/profile_view.css' %}" rel="stylesheet">
<script src="{% static 'network/javascript/profile_view.js' %}"></script>
{% endblock extra_links %}
{% block title %}{{ profile.user }}{% endblock %}
{% block body %}
    <section class="h-100 gradient-custom-2" id="profile_view">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="{% static 'network/media/pngitem_1468479.png' %}"
                                     alt="profile img" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1;border-radius: 50%;margin-left: 20px">
                                <div class=" mt-4 mb-2 d-flex" style="z-index: 1 ">
                                    {% if  user != profile.user %}
                                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                                style="z-index: 1;margin-left: 38px">
                                            {{ is_followed }}
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                                style="z-index: 1;margin-left: 38px" id="cp_button">
                                            Create post
                                        </button>
                                    {% endif %}
                                        </div>
                            </div>
                            <div class="ms-3" style="margin-top: 135px;margin-left: 50px">
                                <h5>{{ profile.user }}</h5>

                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">{{ posts_number }}</p>
                                    <p class="small text-muted mb-0">posts</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">{{ followers }}</p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">{{ following }}</p>
                                    <p class="small text-muted mb-0">Following</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <p class="lead fw-normal mb-0">Recent posts</p>
                                </div>

                                {% if posts %}
                                    {% for post in posts %}
                                        <div class="row g-2 border border-primary rounded"
                                             style="margin: 25px;position: relative;">

                                            <div class="col">
                                                <div class="row d-flex justify-content-between"
                                                     style="padding: 10px 10px 1px 10px">
                                                    <div class="username" style="color: blue">
                                                        <img class="img-thumbnail"
                                                             src="{% static 'network/media/pngitem_1468479.png' %} "
                                                             style="width: 45px;height: 45px;border-radius: 90%">
                                                        <span style="align-items: center">{{ post.profile }} </span>
                                                    </div>
                                                    {#                                                    edit btn#}
                                                    <button type="button" class="btn btn-dark btn-sm edit"
                                                            style="height: 30px;margin: 10px" id="btn{{ post.id }}">edit
                                                        post
                                                    </button>
                                                </div>
                                                <div class="row text-muted" style="padding: 1px 10px 1px 20px;font-style: italic;font-size:9pt ">{{ post.date }}</div>
                                                <hr/>
                                                {#----------------------------------------------the post#}
                                                <p class="row post_place{{ post.id }}"
                                                     style="text-align: start; padding: 10px;margin-bottom: 20px;"
                                                     id="post{{ post.id }}">{{ post.post }}</p>
                                                {#--------------------------------------------------post form (hidden initialiy)#}
                                                <div class="row show_edit{{ post.id }}"
                                                     style="text-align: start; padding: 10px;display: none">

                                                        <div class="form-group"
                                                             style="text-align: start;">
                                                                <input type="hidden" name="token" value="{{ csrf_token }}" id="csrf_token"/>
                                                            <textarea name="post" class="form-control textarea{{ post.id }}" id="control-textarea" form="edit_form{{ post.id }}" autofocus required style="overflow-wrap:break-word ">
                                                            </textarea>
                                                            <div class="row d-flex justify-content-end"
                                                                 style="margin: 20px 10px 0 20px">
                                                                <button type="button" class="btn btn-primary" id="do_edit{{ post.id }}">
                                                                    submit
                                                                </button>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="row g-2" style="margin: 25px">
                                        <div class="col" style="padding: 25px;">
                                            <div style="text-align: center;">No posts yet</div>
                                        </div>
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#-------------------create new post------------------------#}
    {% if  user == profile.user %}
    <section class="h-100 gradient-custom-2" id="create_post" >
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="row g-2 border border-primary rounded"
                             style="margin: 25px;position: relative;">
                            <div class="col" style="">
                                <div class="row d-flex justify-content-between"
                                     style="padding: 10px 10px 1px 10px">
                                    <div class="username" style="color: blue">
                                        <img class="img-thumbnail"
                                             src="{% static 'network/media/pngitem_1468479.png' %} "
                                             style="width: 45px;height: 45px;border-radius: 90%" alt="profile img">
                                        <span style="align-items: center">{{ user }}</span></div>

                                </div>
                                <hr/>
                                {# ----------------------form body---------------- #}
                                <form name="post-it" method="post" action="{% url 'create_post' %}">
                                    <div class="form-group"
                                         style="text-align: start; padding: 10px;margin-bottom: 20px">
                                        {% csrf_token %}
                                        {{ form.post }}
                                    </div>
                                    <div class="row d-flex justify-content-end" style="margin: 20px 10px 10px 20px">
                                        <button type="submit" class="btn btn-primary">
                                            submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}