body {
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    border-radius: 10px
}

.card {

    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

#create_post {
    overflow: hidden;
    line-height: 0;
    max-height: 0;
    animation-name: show;
        animation-fill-mode: forwards;
    animation-play-state: paused;
}

#control-textarea, #control-textarea:focus {

    margin-top: 20px;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    height: 350px;
}

#profile_view {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    50%{
               opacity: 0.5%;
        height: 50%;
        line-height: 50%;
    }
    75% {
        opacity: 0.0%;
        height: 0%;
        line-height: 0%;

    }
    100% {
        max-height: 0;
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;

    }
}

@keyframes show {
    0% {
        opacity: 0;
        height: 0%;
        line-height: 0%;
        padding: 0px;
        margin-bottom: 0px;
    }
    75% {
         overflow: visible;

        line-height: 100%;
           max-height: 100%;

    }
    100% {
        max-height: 100%;
        opacity: 1;
        line-height: 100%;
        overflow: visible;

    }
}