body {
	background: linear-gradient(to right, rgb(247, 85, 202), rgb(18, 103, 248));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}
.nav-link ,.navbar-brand ,.nav-link:hover ,.navbar-brand:hover {
	background: linear-gradient(to right, rgb(247, 85, 202), rgb(18, 103, 248));
    -webkit-background-clip: text;
	background-size: 400% 400%;
    color: transparent;
	animation: gradient 15s ease infinite;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.filter-green {
    margin: 15px 10px 15px 10px;
    width: 20px;
    cursor: pointer;
    /*filter: invert(100%) sepia(93%) saturate(1352%) hue-rotate(270deg) brightness(100%) contrast(119%);*/
    animation: like 1s ease paused;
    animation-fill-mode: forwards;
}

@keyframes like {

    50% {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(0deg) brightness(100%) contrast(119%);
    }
    100% {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(-100deg) brightness(100%) contrast(119%);
    }
}

@keyframes unlike {
    25%{
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(-100deg) brightness(100%) contrast(119%);
    }

    100% {
        filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(100deg) brightness(100%) contrast(-50%)
    }

}